@using BlazorStrap
@using PubSub
@using EosWeb.Core.Messages

    <div class="row float-center navBar">
        <button class="navButton" @onclick="@ToggleKeyboard">Keyboard</button>
        <button class="navButton" @onclick="@ToggleCuelist">Cues</button>
        <button class="navButton" @onclick="@ToggleSpeech">Speech</button>
        <button class="navButton" @onclick="@ToggleInfo">Info</button>
        <button class="navButton" @onclick="@ToggleLog">Log</button>
    </div>

@code
{
    bool keyboardVisible = true;
    bool logVisible = false;
    bool cuelistVisible = false;
    bool infoVisible = false;
    bool speechVisible = true;

    Hub Hub = Hub.Default;
    private void ToggleKeyboard()
    {
        keyboardVisible = !keyboardVisible;
        Hub.Publish<UIToggle>(new UIToggle("Keyboard", !keyboardVisible));
    }

    private void ToggleCuelist()
    {
        cuelistVisible = !cuelistVisible;
        Hub.Publish<UIToggle>(new UIToggle("Cuelist", !cuelistVisible));
    }

    private void ToggleSpeech()
    {
        speechVisible = !speechVisible;
        Hub.Publish<UIToggle>(new UIToggle("Speech", !speechVisible));
    }

    private void ToggleInfo()
    {
        infoVisible = !infoVisible;
        Hub.Publish<UIToggle>(new UIToggle("Info", !infoVisible));
    }

    private void ToggleLog()
    {
        logVisible = !logVisible;
        Hub.Publish<UIToggle>(new UIToggle("Log", !logVisible));
    }

}

