@using BlazorStrap
@using PubSub
@using EosWeb.Core.Messages

    <div class="top-row px-4 float-left">
        <label>EosWeb</label>
        <button class="navButton" @onclick="@ToggleKeyboard">Keyboard</button>
        <button class="navButton" @onclick="@ToggleKeyboardSmall">Keyboard (mobile)</button>
        <button class="navButton" @onclick="@ToggleCuelist">Cues</button>
        <button class="navButton" @onclick="@ToggleInfo">Info</button>
        <button class="navButton" @onclick="@ToggleLog">Log</button>
    </div>

<div class="top-row px-4 auth">
    <LoginDisplay />
</div>

@code
{
    bool keyboardVisible = true;
    bool keyboardSmallVisible = false;
    bool logVisible = false;
    bool cuelistVisible = false;
    bool infoVisible = false;

    Hub Hub = Hub.Default;
    private void ToggleKeyboard()
    {
        keyboardVisible = !keyboardVisible;
        Hub.Publish<UIToggle>(new UIToggle("Keyboard", !keyboardVisible));
    }

    private void ToggleKeyboardSmall()
    {
        keyboardSmallVisible = !keyboardSmallVisible;
        Hub.Publish<UIToggle>(new UIToggle("KeyboardSmall", !keyboardSmallVisible ));
    }
    
    private void ToggleCuelist()
    {
        cuelistVisible = !cuelistVisible;
        Hub.Publish<UIToggle>(new UIToggle("Cuelist", !cuelistVisible));
    }

    private void ToggleInfo()
    {
        infoVisible = !infoVisible;
        Hub.Publish<UIToggle>(new UIToggle("Info", !infoVisible));
    }

    private void ToggleLog()
    {
        logVisible = !logVisible;
        Hub.Publish<UIToggle>(new UIToggle("Log", !logVisible));
    }

}

