@using EosWeb.Core.Models.Eos

@inject IOscClient OscClient
@inject EosService EosService

    <div hidden="@hidden" class="cuelistbuttonbar">
        <table class="eosbutton1wide">
            <tr>
                <td> <button class="eosbutton eosbuttonmed" @onclick=@(() => Load())>Load Cues</button></td>
                <td><EosButton Class="eosbutton eosbuttonmed" Value="go_to_cue_0" Title="Go To Cue 0" /></td>
                <td><EosButton Class="eosbutton2wide EosStop" Value="Stop" /></td>
                <td><EosButton Class="eosbutton2wide EosGo" Value="Go_0" Title="Go" /></td>
            </tr>
        </table>
        <BSTable IsStriped="true" IsDark="true" Class="col-sm-1">
            <thead>
                <tr>
                    <th scope="col">List</th>
                    <th scope="col">Cue</th>
                    <th scope="col">Label</th>
                    <th scope="col">Intens Down</th>
                    <th scope="col">Intens Up</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var cuelist in EosService.CueLists)
                {
                    @foreach (var cue in cuelist.Value.Cues.OrderBy((x) => x.Key))
                    {
                        <tr class="@cue.Value.RowClass">
                            <th scope="row">@cuelist.Value.Number</th>
                            <td>@cue.Value.NumberWithPart</td>
                            <td>@cue.Value.Label</td>
                            <td>@cue.Value.DownIntensityDuration.TotalSeconds.Round(1)</td>
                            <td>@cue.Value.UpIntensityDuration.TotalSeconds.Round(1)</td>
                            <td><div class="playButton" @onclick=@(() => GoToCue(cuelist.Value.Number, cue.Value.Number, cue.Value.PartNumber))><MatIcon Icon="play_arrow"></MatIcon></div></td>
                        </tr>
                    }
                }
            </tbody>
        </BSTable>
        <table class="eosbutton1wide">
            <tr>
                <td> <button class="eosbutton eosbuttonmed" @onclick=@(() => Load())>Load Cues</button></td>
                <td><EosButton Class="eosbutton eosbuttonmed" Value="go_to_cue_0" Title="Go To Cue 0" /></td>
                <td><EosButton Class="eosbutton2wide EosStop" Value="Stop" /></td>
                <td><EosButton Class="eosbutton2wide EosGo" Value="Go_0" Title="Go" /></td>
            </tr>
        </table>
        <br />
    </div>

@code {

    Hub Hub = Hub.Default;
    private bool hidden = false;
    List<EosWeb.Core.Models.Eos.CueList> CueLists = new List<Core.Models.Eos.CueList>();

    protected override void OnInitialized()
    {
        base.OnInitialized();

        Hub.Subscribe<UIToggle>((u) =>
        {
            InvokeAsync(() =>
            {
                if (u.Key == "Cuelist")
                {
                    hidden = u.Hidden;
                    StateHasChanged();
                }
            });
        });


        Hub.Subscribe<EosUpdate>((u) =>
        {
            InvokeAsync(() =>
            {
                if (u.Item == EosUpdateItem.CueList)
                {
                    CueLists = EosService.CueLists.Values.ToList();
                    StateHasChanged();
                }
            });
        });
        Load();
        StateHasChanged();
    }

    private void GoToCue(int listNumber, int cueNumber, int partNumber)
    {
        EosService.FireCue(listNumber, cueNumber, partNumber);
    }

    private void Load()
    {
        EosService.Load();
        StateHasChanged();
    }

    private void Clear()
    {
        StateHasChanged();
    }
}
